In [45]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import random

np.random.seed(42)
random.seed(42)

products = [
    ("Laptop", "Elektronik", 800),
    ("Mouse", "Elektronik", 25),
    ("Klavye", "Elektronik", 50),
    ("Kulaklık", "Elektronik", 100),
    ("Telefon", "Elektronik", 600),
    ("Kitap", "Kırtasiye", 15),
    ("Defter", "Kırtasiye", 5),
    ("Kalem", "Kırtasiye", 2),
    ("Kahve Makinesi", "Mutfak", 150),
    ("Blender", "Mutfak", 120)
]

customer_segments = ["Bireysel", "Kurumsal", "Premium"]

num_orders = 1000
order_ids = np.arange(1, num_orders + 1)
order_dates = [datetime(2023, 1, 1) + timedelta(days=random.randint(0, 364)) for _ in range(num_orders)]
customer_ids = np.random.randint(1000, 2000, num_orders)
product_choices = [random.choice(products) for _ in range(num_orders)]
categories = [p[1] for p in product_choices]
product_names = [p[0] for p in product_choices]
prices = [p[2] for p in product_choices]
quantities = np.random.randint(1, 5, num_orders)
total_sales = [prices[i] * quantities[i] for i in range(num_orders)]
customer_segments_list = [random.choice(customer_segments) for _ in range(num_orders)]

df = pd.DataFrame({
    "Order_ID": order_ids,
    "Order_Date": order_dates,
    "Customer_ID": customer_ids,
    "Product_Name": product_names,
    "Category": categories,
    "Price": prices,
    "Quantity": quantities,
    "Total_Sales": total_sales,
    "Customer_Segment": customer_segments_list
})


df.to_csv("sales_data.csv", index=False)
print("sales_data.csv dosyası oluşturuldu!")

sales_data.csv dosyası oluşturuldu!

In [47]:
import pandas as pd
import sqlite3

df = pd.read_csv('C://Users//MONSTER//Desktop//sales_data.csv', encoding='ISO-8859-1')  

conn = sqlite3.connect('sales_data.db')  

df.to_sql('sales_data', conn, if_exists='replace', index=False)

conn.commit()

conn.close()

In [49]:
conn = sqlite3.connect('sales_data.db')

query = "SELECT * FROM sales_data LIMIT 10;"
df_result = pd.read_sql(query, conn)

print(df_result)

conn.close()

   Order_ID  Order_Date  Customer_ID    Product_Name    Category  Price  \
0         1  2023-11-24         1102  Kahve Makinesi      Mutfak    150
1         2  2023-02-27         1435        Kulaklýk  Elektronik    100
2         3  2023-01-13         1860          Klavye  Elektronik     50
3         4  2023-05-21         1270         Telefon  Elektronik    600
4         5  2023-05-06         1106          Klavye  Elektronik     50
5         6  2023-04-25         1071           Mouse  Elektronik     25
6         7  2023-03-13         1700          Laptop  Elektronik    800
7         8  2023-02-22         1020          Klavye  Elektronik     50
8         9  2023-12-13         1614         Telefon  Elektronik    600
9        10  2023-10-07         1121         Blender      Mutfak    120

   Quantity  Total_Sales Customer_Segment
0         1          150         Kurumsal
1         1          100         Kurumsal
2         3          150          Premium
3         4         2400         Bireysel
4         1           50          Premium
5         2           50         Bireysel
6         1          800          Premium
7         2          100         Kurumsal
8         4         2400         Kurumsal
9         3          360         Kurumsal

In [51]:
conn = sqlite3.connect('sales_data.db')

query = """
    SELECT SUM(Price * Quantity) AS total_sales
    FROM sales_data;
"""
total_sales = pd.read_sql(query, conn)
print("Toplam Satışlar:", total_sales['total_sales'][0])

conn.close()

Toplam Satışlar: 435118

In [53]:
conn = sqlite3.connect('sales_data.db')

query = """
    SELECT Product_Name, SUM(Price * Quantity) AS total_sales
    FROM sales_data
    GROUP BY Product_Name
    ORDER BY total_sales DESC;
"""
product_sales = pd.read_sql(query, conn)
print(product_sales)

conn.close()

     Product_Name  total_sales
0          Laptop       184800
1         Telefon       144600
2  Kahve Makinesi        35400
3         Blender        27480
4        Kulaklýk        18200
5          Klavye        12200
6           Mouse         6550
7           Kitap         4065
8          Defter         1275
9           Kalem          548

In [55]:
conn = sqlite3.connect('sales_data.db')

query = """
    SELECT Product_Name, SUM(Price * Quantity) AS total_sales
    FROM sales_data
    GROUP BY Product_Name
"""
product_sales = pd.read_sql(query, conn)
print(product_sales)

conn.close()

     Product_Name  total_sales
0         Blender        27480
1          Defter         1275
2  Kahve Makinesi        35400
3           Kalem          548
4           Kitap         4065
5          Klavye        12200
6        Kulaklýk        18200
7          Laptop       184800
8           Mouse         6550
9         Telefon       144600

In [57]:
conn = sqlite3.connect('sales_data.db')

query = """
    SELECT Customer_Segment, SUM(Price * Quantity) AS total_sales
    FROM sales_data
    GROUP BY Customer_Segment
    ORDER BY total_sales DESC;
"""
segment_sales = pd.read_sql(query, conn)
print(segment_sales)

conn.close()

  Customer_Segment  total_sales
0          Premium       182451
1         Bireysel       131074
2         Kurumsal       121593